{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}

    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            Por favor, introduce una compañía válida
        </div>
    {% endif %}

    <h1>Registro de compañías</h1>

    <form action="{% url 'Guardar Compañía' %}" method = "POST">
        {% csrf_token %}
        {% if mensaje %}
            <div class="alert alert-success" role="alert">
            ¡Compañía registrada!
            </div>
        {% endif %}

            {{ form|crispy }}

            <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
{% endblock %}