{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Empresarial</title>
    <link rel="stylesheet" href="{% static '/styles/modal.css' %}">
    <link rel="stylesheet" href="{% static '/styles/styles_tabla.css' %}">
    <link rel="stylesheet" href="{% static '/styles/styles_tabla_tablet.css' %}" media="(max-width: 920px)">
    <link rel="stylesheet" href="{% static '/styles/styles_tabla_movil.css' %}" media="(max-width: 426px)">
    <link rel = "preconnect" href = "https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Dashboard Empresarial</h1>
        <div class="bordetitulo"></div>
    </header>
    <section class="menu">
        <nav>
            <ul>
                <li title="Ir al Home">
                    <a href="/views/index.html" >
                        <p class="botton home">Home</p>
                    </a>
                </li>
                <li></li>
                <li></li>
                <li></li>
                <li>
                    <a href="./crear.html">
                        <img class="bottonMas" class="buttonCrear" src="https://img.icons8.com/ios-glyphs/50/000000/plus-math.png" title="Agregar Nueva empresa">
                    </a>
                </li>
                <li></li>
            </ul>
        </nav>
        <main>
            <section class="container-main">
                <section class="container-main-tabla">
                    <section id="modal_editar" class="modal_editar">
                        <form action="{% url 'Guardar Compañía' %}" method="GET">
                            <div class="contenedor-editar">
                                <h1>Editar informacion</h1>
                                <label for="">
                                    Codigo :
                                    <h2>{{ company_id }}</h2>
                                </label>
                                <label for="">
                                    Nombre de la empresa
                                    <input type="text" required class="nombre" value="{{ company_name }}" placeholder="Escribe aqui el nombre de la empresa">
                                </label>
                                <label for="">
                                    Descripcion de la Empresa
                                    <textarea name="descripcion" id="descripcion" value="{{ description }}" cols="30" rows="10" placeholder="Escribe una breve descripcion de la empresa"></textarea>
                                </label>
                                <button id="close">
                                    Guardad
                                </button>
                            </div>
                        </form>
                    </section>
                </section>
            </section>
        </main>
    </section>
    <script src="/app.js"></script>
</body>
</html>