{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Empresarial</title>
    <link rel="stylesheet" href="{% static '/styles/modal.css'%}">
    <link rel="stylesheet" href="{% static '/styles/styles_tabla.css'%}">
    <link rel="stylesheet" href="{% static '/styles/styles_index_movil.css' %}" media="(max-width: 426px)">
    <link rel = "preconnect" href = "https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Dashboard Empresarial</h1>
        <div class="bordetitulo"></div>
    </header>
    <section class="menu">
        <nav>
            <ul>
                <li title="Ir al Home">
                    <a href="/views/index.html" >
                        <p class="botton home">Home</p>
                    </a>
                </li>
                <li></li>
                <li></li>
                <li><a href=""></a></li>
                <li>
                    <a href="./crear.html">
                        <img class="bottonMas" class="buttonCrear" src="https://img.icons8.com/ios-glyphs/50/000000/plus-math.png" title="Agregar Nueva empresa">
                    </a>
                </li>
                <li></li>
            </ul>
        </nav>
        <main>
            <section class="container-main">
                <section class="container-main-tabla">
                    <div class="main-tabla--card">
                        <div class="tabla-card-titulo">
                            <label for=""> Nombre :</label>
                            <h3>Empresa inc</h3>
                        </div>
                        <div class="tabla-card-uuid">
                            <label for="">
                                Codigo :
                            </label>
                            <H3>GR89-GR9R-8883-35KG</H3>
                        </div>
                        <div class="tabla-card-descripcion">
                            <label for="">Detalle :</label>
                            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint voluptatem quis provident natus architecto minus? Sint sequi deleniti, explicabo cum omnis eligendi tempora delectus architecto.</h4>
                        </div>
                        <div class="boton"><a href="/views/detalle.html">Ver Grafica</a></div>
                    </div>
                </section>
            </section>
        </main>
    </section>
</body>
</html>