*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto Condensed', sans-serif;
}
.modal_editar {
    display: flex;
}
.contenedor-editar{
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    margin:  20px auto;
    align-items: center;
    padding: 30px 50px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #000;
}
.contenedor-editar h1 {
    border-bottom: 1px solid #000 ;
    padding: 5px;
    font-size: 20px;
    width: 100%;
}
.contenedor-editar label input, .contenedor-editar label textarea {
    margin-top: 5px;
    padding: 5px;
}
.contenedor-editar label, .contenedor-editar label {
    width: 80%;
}
.contenedor-editar label{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.contenedor-editar button {
    width: 150px;
    padding: 10px;
}
.modal_eliminar {
    display: flex;
    position: absolute;
    z-index: 5;
    border: solid;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 90vh;
    opacity: 0;
    pointer-events: none;
}
.contenedor-eliminar{
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    margin: auto;
    align-items: center;
    padding: 30px 50px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #000;
}
nav li .bottonMas:hover {
    background-color: #ffcc29;
    border-radius: 30%;
    font-size: 16px;
    font-weight: 500;
    color: whitesmoke;
}