*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
.menu{
    display: block;
}
.menu nav ul{
    display: flex;
    white-space: pre-line;
    align-self: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    max-width: 420px;
    flex-direction: row;
}
.menu nav li{
    list-style: none;
}
.menu nav ul{
    flex-direction: row-reverse;
    margin-bottom: 20px;
}
main .container-main{
    width: 100vw;
    display: block;
    height: auto;
}
main .container-main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 1fr);
}
main .container-main--titulo p{
    width: 100%;
}
main .container-main .container--main--texto{
    display: block;
    align-self: auto;
    text-align: center;
}
main .container--main--texto {
    grid-column: 1;
    grid-row: 1;
    display: block;
}
.container-main .container--main--texto{
    margin: 0;
    width: 100%;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}
.container-grafica--lineas {
    border: solid blue;
    width: 100%;
    height: 300px;
}
.container-grafica-cabecera{
    grid-column: 1 / 2;
    grid-row: 1;
}
main .container-main--valores{
    grid-column: 1 / 2;
    grid-row: 2;
}
main .container-main .grafica{
    grid-column: 1 / 2;
    grid-row: 3;
}