*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
header{
    background-color: red;
}
.container-main .container--main--texto{
    display: flex;
    width: 100%;
    max-width: 900px;
    height: 30vh;
    margin: 0;
    height:auto

}
section .container-main {
    display: block;
}
.container-grafica--lineas{
    border: solid red;
    width: 100%;
    height: 300px;
}