*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto Condensed', sans-serif;
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.menu{
    display: flex;
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
header{
    height: 10vh;
    white-space: pre-line;
    text-align: center;
}
header .bordetitulo {
    width: 90%;
    margin: auto;
    border: 1px solid;
    border-radius: 50%;
}
.menu nav {
    background-color: #EAEAEA;
}
.menu nav ul{
    width: 10vw;
    height: 90vh;
    max-width: 75px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
}
.menu nav li {
    cursor: pointer;
}
main .container-main {
    width:90vw;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
main .container--main--texto{
    grid-column: 1 / 3;
    grid-row: 1 / 6;
}
main .container-main--titulo{
    display: flex;
    justify-content: center;
    align-self: center;
    height: 20%;
    font-size: 16px;
    font-weight: 400;
}
main .container-main--titulo p {
    margin: auto;
    font-size: 35px;
    font-weight: 700;
}
.container-main--valores{
    width: 90%;
    max-width: 320px;
    grid-column: 1 / 3;
    grid-row: 2 / 6;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 50px;

}
.main-valores-card {
    display: flex;
    justify-content: center;
    width: 100%;
}
.main-valores-card table td {
    border-bottom: 1px solid rgb(177, 177, 177);
    width: 70%;
}
.main-valores-card table{
    text-align: center;
    width: 100%;
    height: 100%;
}
main .container-grafica {
    grid-column: 3 / 6;
    grid-row: 1 / 6;
}
.container-grafica-cabecera{
    grid-column: 3 / 6 ;
    grid-row: 1 / 2;
}
.container-grafica-cabecera label{
    font-weight: 700;
    font-size: 16px;
}
.container-grafica-cabecera p{
    font-size: 18px;
}
.container-main .grafica {
    grid-column: 3 / 6;
    grid-row: 2 / 6;
}
.grafica-cabecera-uuid {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.grafica-cabecera-descripcion{
    margin: 10px 0;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
}
.grafica-cabecera-uuid {
    font-size: 14px;
    font-weight: 700;
}
.grafica-cabecera-uuid p {
    margin-left: 20px;
    font-size: 20px;
}
.menu nav .mas img {
    width: 28px;
    background-color: none;
}
nav .button button {
    width: 60px;
    border-radius: 3px;
    border: none;
    padding: 8px;
}
nav li a {
    text-decoration: none;
}
nav li .botton {
    border-radius: 10%;
    width: 60px;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: black;

}
nav li .home:hover {
    background-color: #17b978;
    border-radius: 30%;
    font-size: 16px;
    font-weight: 500;
    color: whitesmoke;
}
nav li .editar:hover {
    background-color: #51c4d3;
    border-radius: 30%;
    font-size: 16px;
    font-weight: 500;
    color: whitesmoke;
}
nav li .eliminar:hover {
    background-color: #fb3640;
    border-radius: 30%;
    font-size: 16px;
    font-weight: 500;
    color: whitesmoke;
}
nav li .bottonMas:hover {
    background-color: #ffcc29;
    border-radius: 30%;
    font-size: 16px;
    font-weight: 500;
    color: whitesmoke;
}
.grafo{
    width:100%; 
    height:415px;
}